.superInput {
    background-color: green;
    margin:10px 0 10px 0;
    outline: none;
}
.superInput:focus {
    border: 2px solid white;
}

.errorInput {
    background-color: #ff1744;
    margin:10px 0 10px 0;
    outline: none;
}
.errorInput:focus{
    border: 1px solid white;
}

.error {
    color: red;
    font-weight: 700;
    height: 20px;
}

