.header{
    display: flex;
}
.nonActiveHeader, .activeHeader{
    display: flex;
    list-style: none;
    padding:0;
    margin:10px 0;
    position:relative;
}
.activeHeader{
    transition: all .4s;
    transform: translateX(0);
}
.nonActiveHeader{
    transform: translateX(-100%);
    transition: all .6s;
}
.header li{
    margin: 0 15px 0 0;
}
.defaultLink {
    color:forestgreen;
    font-size: 18px;
    text-decoration: none;
}
.activeLink {
    color:greenyellow;
}

.defaultLink:hover{
    color:greenyellow;
}
.arrow,.arrowRotate{
    position: absolute;
    right: -20px;
    width: 20px;
    height: 20px;
    background: url('./img/arrow.png') no-repeat;
}
.arrow{
    transform:rotate(180deg);
    transition: all .5s;
    top: 0;
}
.arrowRotate{
    transition: all .5s;
    top:5px;
}

/*-------------------------------------------------------------------------------------------------*/
.errorPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
}
.errorTitle h1{
    font-size: 200px;
    margin:0;
}
.errorImg{
    background-image: url(https://colorlib.com/etc/404/colorlib-error-404-12/img/emoji.png;);
    width:140px;
    height: 140px;
    background-size:cover;
    display: inline-block;
    transform: scale(1.3);
}
.errorSign{
    font-size: 30px;
    font-weight: bold;
}
.errorPage p{
    font-weight: 500;
    max-width: 500px;
    text-align: center;
}
.errorButton{
    padding: 12px 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #f99827;
    border-radius: 30px;
    display: inline-block;
}
